### 데이터 집계 
- 표준편차 데이터 집계(내장 함수) : group 객체.std()

In [2]:
import pandas as pd 
import seaborn as sns 

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]

grouped = df.groupby(['class'])

std_all = grouped.std()
print(std_all)
print('\n')
print(type(std_all))

              age       fare  survived
class
First   14.802856  78.380373  0.484026
Second  14.001077  13.417399  0.500623
Third   12.495398  11.778142  0.428949


<class 'pandas.core.frame.DataFrame'>

In [3]:
std_fare = grouped.fare.std()
print(std_fare)
print('\n')
print(type(std_fare))

class
First     78.380373
Second    13.417399
Third     11.778142
Name: fare, dtype: float64


<class 'pandas.core.series.Series'>

- agg() 메소드 : 집계 연산을 처리하는 사용자 정의 함수를 그룹 객체에 적용 가능
- agg() 메소드 데이터 집계 : group 객체.agg(매핑 함수)

In [4]:
def min_max(x) : 
    return x.max() - x.min()

agg_minmax = grouped.agg(min_max) 
agg_minmax.head()

          age      fare  survived
class
First   79.08  512.3292         1
Second  69.33   73.5000         1
Third   73.58   69.5500         1

- 각각의 열에 여러 개의 함수를 일괄 적용 할 때는 리스트 형태로 인수 전달
- 열마다 다른 종류의 함수를 적용하려면 {열 : 함수} 형태의 딕셔너리 인수 전달
- 모든 열에 여러 함수를 매핑 : group 객체.agg([함수1, 함수2, 함수3 ... ])
- 각 열마다 다른 함수를 매핑 : group 객체.agg({'열1' : 함수1, '열2' : 함수2 ...})

In [5]:
agg_all = grouped.agg(['min', 'max'])
print(agg_all.head())

         age           sex       fare           survived
         min   max     min   max  min       max      min max
class
First   0.92  80.0  female  male  0.0  512.3292        0   1
Second  0.67  70.0  female  male  0.0   73.5000        0   1
Third   0.42  74.0  female  male  0.0   69.5500        0   1

In [6]:
agg_sep = grouped.agg({'fare' : ['min', 'max'], 'age' : 'mean'})
agg_sep.head()

       fare                  age
        min       max       mean
class
First   0.0  512.3292  38.233441
Second  0.0   73.5000  29.877630
Third   0.0   69.5500  25.140620