### 그룹 객체에 필터링
- filter() 메소드를 그룹 객체에 적용할 때 조건식을 가진 함수를 전달하면 조건에 맞는 그룹만 남김
- 그룹 객체 필터링 : group 객체.filter(조건식 함수)

In [1]:
import pandas as pd 
import seaborn as sns 

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]

grouped = df.groupby(['class'])

In [2]:
grouped_filter = grouped.filter(lambda x : len(x) >= 200)
print(grouped_filter)
print('\n')
print(type(grouped_filter))

      age     sex  class     fare  survived
0    22.0    male  Third   7.2500         0
1    38.0  female  First  71.2833         1
2    26.0  female  Third   7.9250         1
3    35.0  female  First  53.1000         1
4    35.0    male  Third   8.0500         0
..    ...     ...    ...      ...       ...
885  39.0  female  Third  29.1250         0
887  19.0  female  First  30.0000         1
888   NaN  female  Third  23.4500         0
889  26.0    male  First  30.0000         1
890  32.0    male  Third   7.7500         0

[707 rows x 5 columns]


<class 'pandas.core.frame.DataFrame'>

In [3]:
age_filter = grouped.filter(lambda x : x.age.mean() < 30)
print(age_filter.tail())
print('\n')
print(type(age_filter))

      age     sex   class    fare  survived
884  25.0    male   Third   7.050         0
885  39.0  female   Third  29.125         0
886  27.0    male  Second  13.000         0
888   NaN  female   Third  23.450         0
890  32.0    male   Third   7.750         0


<class 'pandas.core.frame.DataFrame'>