### 시리즈 원소에 함수 매핑
- 시리즈 객체에 apply() 메소드를 적용하면 인자로 전달하는 매핑 함수에 
시리즈의 모든 원소를 하나씩 입력하고 함수의 리턴값을 돌려받음
- 시리즈 원소의 개수만큼 리턴값을 받아 같은 크기의 시리즈 객체로 반환
- 시리즈의 원소에 함수 매핑 : Series객체.apply(매핑 함수)

In [1]:
import seaborn as sns 

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

df['ten'] = 10
df.head()

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10

In [2]:
def add_10(n) :
    return n + 10 

def add_two_obj(a, b) :
    return a + b

print(add_10(10))
print(add_two_obj(10, 10))

20
20

In [3]:
sr1 = df['age'].apply(add_10)
sr1.head()

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

In [5]:
sr2 = df['age'].apply(add_two_obj, b = 10)
sr2.head()

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

In [6]:
sr3  = df['age'].apply(lambda x : add_10(x)) 
sr3.head()

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64