### 피벗
- pandas pivot_table() 함수는 excel에서 사용하는 피벗테이블과 비슷한 기능 
- 피벗테이블의 구성요소 
    - 행 인덱스, 열 인덱스, 데이터 값, 데이터 집계 함수에 적용할 df의 열을 각각 지정하여 함수의 인자로 전달

In [1]:
import pandas as pd 
import seaborn as sns 

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_colwidth', 20)

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','sex','class','fare','survived' ]]
print(df.head())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [2]:
pdf1 = pd.pivot_table(df,               # 피벗할 데이터프레임
                    index = 'class',    # 행 위치에 들어갈 열
                    columns='sex',      # 열 위치에 들어갈 열
                    values='age',       # 데이터로 사용할 열
                    aggfunc='mean')     # 데이터 집계 함수

pdf1

sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589

In [3]:
pdf2 = pd.pivot_table(df,               # 피벗할 데이터프레임
                    index = 'class',    # 행 위치에 들어갈 열
                    columns='sex',      # 열 위치에 들어갈 열
                    values='survived',       # 데이터로 사용할 열
                    aggfunc=['mean', 'sum'])     # 데이터 집계 함수

pdf2.head()

            mean              sum
sex       female      male female male
class
First   0.968085  0.368852     91   45
Second  0.921053  0.157407     70   17
Third   0.500000  0.135447     72   47