### 데이터프레임의 각 열에 함수 매핑
- df에 apply(axis = 0) 메소드를 적용하면 모든 열을 하나씩 분리하여 매핑 함수의 인자로 
각 열(시리즈)이 전달 
- 매핑 함수에 따라 반환되는 객체의 종류가 다름 
- df의 열에 함수 매핑 : DataFrame 객체.apply(매핑 함수, axis = 0)
- isnull() 메소드는 시리즈 객체에서 누락 데이터를 찾고 결과를 불린 시리즈 형태로 반환

In [4]:
import seaborn as sns 

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [3]:
# 시리즈를 입력받고 시리즈를 반환하는 함수를 매핑 -> 데이터프레임 반환
def missing_value(series):
    return series.isnull()

result = df.apply(missing_value, axis = 0)
print(result.head())
print(type(result))

     age   fare
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
<class 'pandas.core.frame.DataFrame'>