- 시리즈를 입력받아 하나의 값을 반환하는 함수를 매핑하면 시리즈를 반환
- 각 열의 이름이 시리즈의 인덱스가 되고, 함수가 반환하는 값이 각 인덱스에 매칭되는 데이터 값이 된다.
- apply()의 axis 옵션은 0이 기본 값이다.

In [1]:
import seaborn as sns 

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']] 

df.head()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [2]:
def min_max(x) :
    return x.max() - x.min()

In [4]:
result = df.apply(min_max)
print(result)
print('\n')
print(type(result))

age      79.5800
fare    512.3292
dtype: float64


<class 'pandas.core.series.Series'>