### 데이터프레임 객체에 함수 매핑 
- df 객체를 함수에 매핑하려면 pipe() 메소드 사용
- 함수가 반환하는 리턴값에 따라 pipe() 메소드가 반환하는 객체의 종류가 결정
- df를 반환하는 경우, ser을 반환하는 경우, 개별 값을 반환하는 경우로 나뉨 
- df 객체에 함수 매핑 : DataFrame 객체.pipe(매핑 함수)

In [1]:
import seaborn as sns 

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']] 

df.head()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [2]:
# 각 열의 NaN 찾기, df 전달하면 df 반환
def missing_value(x) :
    return x.isnull()

In [4]:
# 각 열의 NaN 개수 반환, df 전달하면 ser 반환
def missing_count(x) :
    return missing_value(x).sum()

In [6]:
# df 총 NaN 개수 : df 전달하면 값 반환
def total_number_missing(x):
    return missing_count(x).sum()

- pipe() 메소드가 df를 반환하는 케이스
- missing_value() 함수는 df 입력을 받으면 isnull() 메소드를 이용하여 df 각 원소에서 NaN 여부를 
True or False로 표시
- 결과를 df로 반환

In [7]:
result_df = df.pipe(missing_value)
print(result_df.head())
print('\n')
print(type(result_df))

     age   fare
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False


<class 'pandas.core.frame.DataFrame'>

In [8]:
result_series = df.pipe(missing_count)
print(result_series)
print('\n')
print(type(result_series))

age     177
fare      0
dtype: int64


<class 'pandas.core.series.Series'>

In [9]:
result_value = df.pipe(total_number_missing)
print(result_value)
print('\n')
print(type(result_value))

177


<class 'numpy.int64'>