### 열 분리 
- 하나의 열이 여러 가지 정보를 담고 있을 때 분리해서 사용할 수 있다.
- 시리즈의 str 속성으로 문자열 데이터에 접근하는 방법으로 분리 
- read_excel() 함수로 df로 변환

In [12]:
import pandas as pd

path = 'C:\\Users\\jswoo\\Desktop\\Repository\\Study_Data_Science\\Pandas_Data_Analytics\\주가데이터.xlsx'
df = pd.read_excel(path, engine='openpyxl')

df.head()

         연월일   당일종가  전일종가     시가     고가     저가     거래량
0 2018-07-02  10100   600  10850  10900  10000  137977
1 2018-06-29  10700   300  10550  10900   9990  170253
2 2018-06-28  10400   500  10900  10950  10150  155769
3 2018-06-27  10900   100  10800  11050  10500  133548
4 2018-06-26  10800   350  10900  11000  10700   63039

In [10]:
print(df.dtypes)

연월일     datetime64[ns]
당일종가             int64
전일종가             int64
시가               int64
고가               int64
저가               int64
거래량              int64
dtype: object

- astype() 메소드를 사용하여 시간형 데이터를 문자열로 변경 
- split() 메소드로 열의 문자열 속성에 적용하면 분리한 문자열 데이터를 리스트로 정리
- 반환되는 객체는 series

In [5]:
df['연월일'] = df['연월일'].astype('str')
dates = df['연월일'].str.split('-')
dates.head()

0    [2018, 07, 02]
1    [2018, 06, 29]
2    [2018, 06, 28]
3    [2018, 06, 27]
4    [2018, 06, 26]
Name: 연월일, dtype: object

- 저장된 문자열 리스트의 원소를 선택하기 위해 get() 메소드 활용 
- 각 원소 리스트의 인덱스를 전달하여 데이터를 따로 선택 가능 
- series 문자열 리스트 인덱싱 : Series 객체.str.get(인덱스)

In [6]:
df['연'] = dates.str.get(0)
df['월'] = dates.str.get(1)
df['일'] = dates.str.get(2)
df.head()

          연월일   당일종가  전일종가     시가     고가     저가     거래량     연   월   일
0  2018-07-02  10100   600  10850  10900  10000  137977  2018  07  02
1  2018-06-29  10700   300  10550  10900   9990  170253  2018  06  29
2  2018-06-28  10400   500  10900  10950  10150  155769  2018  06  28
3  2018-06-27  10900   100  10800  11050  10500  133548  2018  06  27
4  2018-06-26  10800   350  10900  11000  10700   63039  2018  06  26