### 누락 데이터 제거 
- 열을 삭제하면 분석 대상이 갖는 변수를 제거
- 행을 삭제하면 분석 대상의 관측값을 제거

In [1]:
import seaborn as sns

df = sns.load_dataset('titanic')

missing_df = df.isnull()
for col in missing_df.columns : 
    missing_count = missing_df[col].value_counts()

    try:
        print(col, ': ', missing_count[True])
    except:
        print(col, ': ', 0)

survived :  0
pclass :  0
sex :  0
age :  177
sibsp :  0
parch :  0
fare :  0
embarked :  2
class :  0
who :  0
adult_male :  0
deck :  688
embark_town :  2
alive :  0
alone :  0

- dropna() 메소드에 thresh = 500 옵션을 적용
- NaN 값을 500개 이상 갖는 모든 열을 삭제

In [2]:
# deck만 500 이상 NaN 값을 가지고 있으므로 deck 열 삭제
df_thresh = df.dropna(axis = 1, thresh=500)
print(df_thresh.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

- dropna() 메소드에 subset을 열 데이터를 설정
- 그렇게 되면 설정한 열의 행 중에 NaN 값이 모든 행(axis = 0)을 삭제 
- 기본 값으로 how = 'any' 옵션이 적용 NaN 값이 하나라도 존재하면 삭제
- how = 'all' 옵션으로 적용하면 모든 데이터가 NaN 값일 경우에만 삭제

In [3]:
df_age = df.dropna(subset = ['age'], how = 'any', axis = 0)
print(len(df_age))

714