### 이웃하고 있는 값으로 바꾸기 
- 데이터셋의 특성상 서로 이웃하고 있는 데이터끼리 유사성을 가질 가능성이 높음 
- fillna() 메소드에 method = 'ffill' 옵션을 추가하면 
NaN 있는 행의 바로 다음 행에 있는 값을 가지고 치환

In [1]:
import seaborn as sns

df = sns.load_dataset('titanic')

print(df['embark_town'][825:830])

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
Name: embark_town, dtype: object

In [2]:
df['embark_town'].fillna(method = 'ffill', inplace =True)
print(df['embark_town'][825:830])

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829     Queenstown
Name: embark_town, dtype: object