### 자료형 변환 
- 숫자가 문자열(object)로 저장된 경우 숫자형(int or float)으로 변환해야 한다.
- dtypes 속성을 사용하여 데이터프레임의 각 열의 자료형을 확인
- info() 메소드로도 자료형 확인 가능

In [2]:
import pandas as pd 

path = 'C:\\Users\\jswoo\\Desktop\\Repository\\Study_Data_Science\\Pandas_Data_Analytics\\auto-mpg.csv'
df = pd.read_csv(path, header=None)

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 
'acceleration', 'model year', 'origin', 'name']

print(df.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

In [3]:
print(df['horsepower'].unique())

['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '?' '100.0' '105.0' '175.0' '153.0'
 '180.0' '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00'
 '80.00' '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0'
 '167.0' '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00'
 '83.00' '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00'
 '98.00' '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0'
 '68.00' '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0'
 '125.0' '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00'
 '64.00' '74.00' '116.0' '82.00']

In [4]:
### '?' 값을 NaN으로 바꾸고 삭제
### 문자열을 실수형으로 변환

import numpy as np 

df['horsepower'].replace('?', np.nan, inplace = True)
df.dropna(subset = ['horsepower'], axis = 0, inplace = True)
df['horsepower'] = df['horsepower'].astype('float')

print(df['horsepower'].dtypes)

float64

In [6]:
### origin 열에는 정수형 데이터 1,2,3이 들어 있지만 실제로는 국가 이름이다.
### replace() 메소드를 사용하여 각 숫자 데이터를 국가명으로 바꾸자.

print(df['origin'].unique())

df['origin'].replace({1:'USA', 2:'EU', 3:'JPN'}, inplace= True)

print(df['origin'].unique())
print(df['origin'].dtypes)

[1 3 2]
['USA' 'JPN' 'EU']
object

In [7]:
### 유한 개의 고유값이 반복적으로 나타내는 경우 : 범주형(category) 데이터 표현
### 범주형을 다시 문자열로 변환 : astype('str') 메소드 사용

df['origin'] = df['origin'].astype('category')
print(df['origin'].dtypes)

df['origin'] = df['origin'].astype('str')
print(df['origin'].dtypes)

category
object

In [11]:
### sample() 메소드 : 열에서 무작위로 3개의 행을 출력
### 데이터는 숫자형으로 갖고 자료형은 범주형으로 표시 

print(df['model year'].sample(3))
df['model year'] = df['model year'].astype('category')
print(df['model year'].sample(3))

152    75
346    81
218    77
Name: model year, dtype: int32
342    81
106    73
349    81
Name: model year, dtype: category
Categories (13, int64): [70, 71, 72, 73, ..., 79, 80, 81, 82]